Exercise 1: Create a function with a default argument
Write a program to create a function show_employee() using the following conditions.
It should accept the employeeâ€™s name and salary and display both.
If the salary is missing in the function call then assign default value 9000 to salary

Given:

showEmployee("Ben", 12000)

showEmployee("Jessa")

Expected output:

Name: Ben salary: 12000

Name: Jessa salary: 9000

In [ ]:
def show_employee(name,salary = 9000):
  print(f"Name: {name} salary: {salary} ")

show_employee("Ben", 12000)
show_employee("Jessa")

Name: Ben salary: 12000
Name: Jessa salary: 9000

Exercise 2:

Create an inner function to calculate the addition in the following way
Create an outer function that will accept two parameters, a and b
Create an inner function inside an outer function that will calculate the addition of a and b
At last, an outer function will add 5 into addition and return it

In [ ]:
def outer_function(a,b):
  def inner_function(x,y):
    return x+y

  addition = inner_function(a,b)
  final_result = addition+5
  return final_result

result = outer_function(2,2)
print("Final result = ",result)

Final result =  9

Exercise 3:
Generate a Python list of all the even numbers between 4 to 30

In [ ]:
even_numbers = [x for x in range(4,31) if x%2==0]

print(even_numbers)

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

Exercise 4: Lambda Function to Check if value is in a List
Given a list, the task is to write a Python program to check if the value exists in the list or not using the lambda function.


Input  : L = [1, 2, 3, 4, 5]
          element = 4
Output :  Element is Present in the list

Input :  L = [1, 2, 3, 4, 5]
          element = 8
Output :  Element is NOT Present in the list

In [ ]:
check_element = lambda L,element:"Element is present in the list" if list(filter(lambda x:x == element,L)) else "Element is not present in the list"

L1 =  [1, 2, 3, 4, 5]
element1 = 4
output1 = check_element(L1,element1)
print(output1)

L2 =  [1, 2, 3, 4, 5]
element2 = 8
output2 = check_element(L2,element2)
print(output2)

Element is present in the list
Element is not present in the list

Exercise 5:

Sort list of tuples with their sum
Sort the points based on their sum of elements in the tuples

points = [(1, 2), (5, 3), (0, 7), (3, 1)]

In [ ]:
points = [(1, 2), (5, 3), (0, 7), (3, 1)]

sum_of_elements = lambda point : sum(point)

sorted_points = sorted(points, key=sum_of_elements)

print("Sorted points: ",sorted_points)

Sorted points:  [(1, 2), (3, 1), (0, 7), (5, 3)]

Exercise 6 :

Write a python function, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number. Return the results as a list

In [ ]:
def find_even_digit_numbers():
    result = []
    for num in range(1000, 3001):
        all_even_digits = all(int(digit) % 2 == 0 for digit in str(num))
        if all_even_digits:
            result.append(num)
    return result

even_digit_numbers = find_even_digit_numbers()
print(even_digit_numbers)

[2000, 2002, 2004, 2006, 2008, 2020, 2022, 2024, 2026, 2028, 2040, 2042, 2044, 2046, 2048, 2060, 2062, 2064, 2066, 2068, 2080, 2082, 2084, 2086, 2088, 2200, 2202, 2204, 2206, 2208, 2220, 2222, 2224, 2226, 2228, 2240, 2242, 2244, 2246, 2248, 2260, 2262, 2264, 2266, 2268, 2280, 2282, 2284, 2286, 2288, 2400, 2402, 2404, 2406, 2408, 2420, 2422, 2424, 2426, 2428, 2440, 2442, 2444, 2446, 2448, 2460, 2462, 2464, 2466, 2468, 2480, 2482, 2484, 2486, 2488, 2600, 2602, 2604, 2606, 2608, 2620, 2622, 2624, 2626, 2628, 2640, 2642, 2644, 2646, 2648, 2660, 2662, 2664, 2666, 2668, 2680, 2682, 2684, 2686, 2688, 2800, 2802, 2804, 2806, 2808, 2820, 2822, 2824, 2826, 2828, 2840, 2842, 2844, 2846, 2848, 2860, 2862, 2864, 2866, 2868, 2880, 2882, 2884, 2886, 2888]

Exercise 7 :

Write a python function that accepts a sentence and calculate and return the number of letters and digits.

Suppose the following input is supplied to the program:

hello world! 123

Then, the output should be:

LETTERS 10
DIGITS 3

In [ ]:
def count_letter_and_digits(sentence):
  letter_count = 0
  digit_count = 0

  for char in sentence:

    if char.isalpha():
      letter_count += 1
    elif char.isdigit():
      digit_count += 1

  return letter_count, digit_count

input_sentence = "hello world! 123"
letter, digits = count_letter_and_digits(input_sentence)
print("Letters: ",letter)
print("Digits: ",digits)

Letters:  10
Digits:  3

Exercise 8  MAP:

Write a Python program to convert all the characters into uppercase and lowercase and eliminate duplicate letters from a given sequence. Use the map() function

In [ ]:
def upper_lower_duplicate(sequence):
  upper_sequence = ''.join(map(str.upper,sequence))
  lower_sequence = ''.join(map(str.lower,sequence))
  duplicate = ''.join(set(sequence))

  return upper_sequence,lower_sequence,duplicate

sentence = "hello world"
upper,lower,duplicate = upper_lower_duplicate(sentence)
print("Uppercase: ",upper)
print("Lowercase: ",lower)
print("Duplicate: ",duplicate)

Uppercase:  HELLO WORLD
Lowercase:  hello world
Duplicate:  wh roedl

Exercise 9 MAP:

 Write a Python program to element wise add two given lists and find the difference between them. Use the map() function

In [ ]:
list1 = [1,2,3,4,5]
list2 = [6,7,8,9,10]
sum = map(lambda a,b : a+b, list1,list2)
sub = map(lambda a,b : b-a, list1,list2)
print(list(sum))
print(list(sub))

[7, 9, 11, 13, 15]
[5, 5, 5, 5, 5]

Exercise 10 Filter:

Write a Python program to filter the height and weight of students, which are stored in a dictionary using lambda.

Original Dictionary:

{'Cierra Vega': (6.2, 71), 'Alden Cantrell': (5.9, 65), 'Kierra Gentry': (6.0, 68), 'Pierre Cox': (5.8, 66)}

Height> 6ft and Weight> 70kg:

{'Cierra Vega': (6.2, 71)}

In [ ]:
students = {'Cierra Vega': (6.2, 71), 'Alden Cantrell': (5.9, 65), 'Kierra Gentry': (6.0, 68), 'Pierre Cox': (5.8, 66)}
filtered_students = dict(filter(lambda item : item[1][0]>6.0 and item[1][1]>70, students.items()))
print(filtered_students)

{'Cierra Vega': (6.2, 71)}

Exercise 11 Filter:

Write a Python program to remove all elements from a given list present in another list using lambda.

Original lists:

list1: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

list2: [2, 4, 6, 8]

Remove all elements from 'list1' present in 'list2:

[1, 3, 5, 7, 9, 10]

In [ ]:
list1= [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

list2= [2, 4, 6, 8]

sorted_filter = list(filter(lambda x : x not in list2, list1))

print(sorted_filter)

[1, 3, 5, 7, 9, 10]

Exercise 12 Reduce:


Write a Python program to calculate the product of a given list of numbers using lambda.

list1: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Product of the said list numbers:

3628800

In [ ]:
import functools
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
result = functools.reduce(lambda x,y : x*y,list1)
print(result)

3628800

Exercise 13 Reduce:


 Write a Python program to multiply all the numbers in a given list using lambda.

Original list:

[4, 3, 2, 2, -1, 18]

Mmultiply all the numbers of the said list: -864

In [ ]:
import functools
list1 = [4, 3, 2, 2, -1, 18]
result = functools.reduce(lambda x,y : x*y,list1)
print(result)

-864

Exercise 14 Reduce:


Write a Python program to calculate the average value of the numbers in a given tuple of tuples using lambda.

Original Tuple:

((10, 10, 10), (30, 45, 56), (81, 80, 39), (1, 2, 3))

Average value of the numbers of the said tuple of tuples:

(30.5, 34.25, 27.0)

In [ ]:
original_tuple = ((10, 10, 10), (30, 45, 56), (81, 80, 39), (1, 2, 3))

average_tuple = tuple(map(lambda *args : sum(args)/len(args), *original_tuple))

print(average_tuple)

(30.5, 34.25, 27.0)

Exercise 15:


Write a Python program to sort a given mixed list of integers and strings using lambda. Numbers must be sorted before strings.

Original list:

[19, 'red', 12, 'green', 'blue', 10, 'white', 'green', 1]

Sort the said mixed list of integers and strings:

[1, 10, 12, 19, 'blue', 'green', 'green', 'red', 'white']

In [ ]:
original_list = [19, 'red', 12, 'green', 'blue', 10, 'white', 'green', 1]

sorted_list = sorted(original_list, key = lambda x: (isinstance(x, int), x))

print(sorted_list)

['blue', 'green', 'green', 'red', 'white', 1, 10, 12, 19]

Exercise 16:

Write a Python program to count the occurrences of items in a given list using lambda.

Original list:

[3, 4, 5, 8, 0, 3, 8, 5, 0, 3, 1, 5, 2, 3, 4, 2]

Count the occurrences of the items in the said list:

{3: 4, 4: 2, 5: 3, 8: 2, 0: 2, 1: 1, 2: 2}

In [ ]:
original_list = [3, 4, 5, 8, 0, 3, 8, 5, 0, 3, 1, 5, 2, 3, 4, 2]

occurrence_list = dict(map(lambda x : (x, original_list.count(x)),original_list))

print(occurrence_list)

{3: 4, 4: 2, 5: 3, 8: 2, 0: 2, 1: 1, 2: 2}

Exercise 17:


Write a Python program to remove None values from a given list using the lambda function.

Original list:

[12, 0, None, 23, None, -55, 234, 89, None, 0, 6, -12]

Remove None value from the said list:

[12, 0, 23, -55, 234, 89, 0, 6, -12]

In [ ]:
original_list = [12, 0, None, 23, None, -55, 234, 89, None, 0, 6, -12]

filtered_list = list(filter((lambda x: x is not None),original_list))

print(filtered_list)

[12, 0, 23, -55, 234, 89, 0, 6, -12]