1. Write a Python program to sum all the items in a list.

In [ ]:
number=[1,2,3,4,5]
x=0
for a in number:
  x+=a
print('The sum is' ,x)

The sum is 15

2. Write a Python program to get the largest number from a list.

In [ ]:
a=[1,2,3,4,5]
a.sort()
print("Largest number is",a[-1])

Largest number is 5

3. Write a Python program to count the number of strings from a given list of strings. The string length is 2 or more and the first and last characters are the same.

```
Sample List : ['abc', 'xyz', 'aba', '1221']
Expected Result : 2
```

In [ ]:

l=['abc', 'xyz', 'aba', '1221']
x=0
for a in l:
  if len(a)>1 and a[0]==a[-1]:
    x+=1
print(x)

2

4. Write a Python program to remove duplicates from a list.

In [ ]:
x=[1,2,3,1,4,5,6,4,7,2]
y=[]
for a in x:
  if a not in y:
    y.append(a)
print(y)

[1, 2, 3, 4, 5, 6, 7]

5. Write a Python program to check if a list is empty or not.

In [ ]:
x=[]
if len(x)==0:
  print("List is empty")
else:
  print("List is not empty")

List is empty

6. Write a Python program to filter the list if the length of the character is < 4

```
Sample List : ['abc', 'xyz', 'aba', '1221']
Expected Result: ['abc', 'xyz', 'aba']
```

In [ ]:
x=['abc', 'xyz', 'aba', '1221']
y=[a for a in x if len(a)<4]
print(y)

['abc', 'xyz', 'aba']

In [ ]:
x=['abc', 'xyz', 'aba', '1221']
y=[]
for a in x:
  if len(a) < 4:
    y.append(a)
print(y)

['abc', 'xyz', 'aba']

7.Write a Python program to find the second largest number in a list.

In [ ]:
a=[1,2,3,4,5,6]
a.sort()
print("second largest number is",a[-2])

second largest number is 5

8. Write a Python program to reverse a list at a specific location.

In [ ]:
a=[1,2,3,4,5,6,7,8,9,10]
x=int(input("enter starting location for reversing"))
y=int(input("enter ending location for reversing"))
b=a[x-1:y+1]
z=[]
for i in a:
  if i not in range(a[x-1],a[y+1]):
    z.append(i)
b=b[::-1]
z[x-1:x-1]=b
print((z))

enter starting location for reversing2
enter ending location for reversing6
[1, 7, 6, 5, 4, 3, 2, 8, 9, 10]

9. Write a Python program to check if a list is a palindrome or not. Return true otherwise false.

In [ ]:
x=(input("enter the list element"))
if x==x[::-1]:
  print("true")
else:
  print("false")

enter the list element1 2 3 4 5 6 7
false

10. Write a Python a program to find the union and intersection of two lists.

In [ ]:
list1=[1,2,5,3,8,6,5,4,6]
list2=[2,5,7,1,6,8,6,7,3]
union =list1+list2
intersection=list(set(list1 and list2))
print(union)
print(intersection)

[1, 2, 5, 3, 8, 6, 5, 4, 6, 2, 5, 7, 1, 6, 8, 6, 7, 3]
[1, 2, 3, 5, 6, 7, 8]

11.Write a Python script to sort (ascending and descending) a dictionary by value

In [ ]:
d={"apple":3, "orange":1, "grape":5, "mango":2}
def sort_value(item):
  return item[1]
sorted_d=dict(sorted(d.items(),key=sort_value))
print(sorted_d)

{'orange': 1, 'mango': 2, 'apple': 3, 'grape': 5}

12. Write a Python script to check whether a given key already exists in a dictionary.

In [ ]:
a={"apple":4,"orange":5,"mango":3,"banana":2}
b=a.items()
def check_key(key):
  for k,v in b:
    if key==k:
      print("already excisted")
key="apple"
check_key(key)

already excisted

13.Write a Python program to sum all the values in a dictionary.

In [ ]:
a={"apple":2,"orange":6,"mango":4,"banana":1}
b=a.items()
value=[]
for k,v in b:
  value.append(v)
sum=0
for i in value:
  sum+=i
print(sum)

13

14.Write a Python program to create a dictionary with a number and its corresponding square from 1 to input number. And also check if the input number is less than 10

```
Eg:
Input : 3
Output : {1:1, 2:4, 3:9}
```

In [ ]:
n=int(input('Enter number:'))
i=1
dict1={}
while i<=n:
  if n<=10:
    dict1[i]=i*i
    i+=1
  else:
    print("please enter value less than 10")
    break
print(dict1)

Enter number:4
{1: 1, 2: 4, 3: 9, 4: 16}

15.Write a Python program to sort a given dictionary by key.

In [ ]:
data={3:'a',4:'b',1:'c',2:'d'}
sorted_data={}
sorted_keys=sorted(data.keys())
for i in sorted_keys:
  sorted_data[i]=data[i]
print(sorted_data)

{1: 'c', 2: 'd', 3: 'a', 4: 'b'}

16.  Write a Python program to create a dictionary from a string.

```
Note: Track the count of the letters from the string.
Sample string : 'learnpython'
Expected output: {'l': 1, 'e': 1, 'a': 1, 'r': 1, 'n': 2, 'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1}

```

In [ ]:
word= str(input("enter word:"))
dict1 = {}
for i in word:
  if i not in dict1:
    dict1[i] = 0
  dict1[i] += 1
print(dict1)

enter word:hello
{'h': 1, 'e': 1, 'l': 2, 'o': 1}

17. Write a Python program to get the top three items in a shop.

```
Sample data: {'item1': 45.50, 'item2':35, 'item3': 41.30, 'item4':55, 'item5': 24}

Expected Output:
item4 55
item1 45.5
item3 41.3
```

In [ ]:
data={'item1': 45.50, 'item2':35, 'item3': 41.30, 'item4':55, 'item5': 24}
v=data.values()
v=list(v)
v.sort()
l=v[-3:]
for i,j in data.items():
  if j in l:
    print(i,j)

item1 45.5
item3 41.3
item4 55